<!DOCTYPE HTML5>
<!DOCTYPE html>
<html>
<head>
    <title>Balsheet Upload </title>
</head>
<body class="body_content">
<div>
   <div class="content">
        <h1>Uplaod Balance Sheet</h1>
        <div class="bal_sheet_upload">
            <form method="POST" action="{% url 'balsheet_upload' %}" enctype="multipart/form-data">
                <div class="errorlist">{{error}}</div>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-section">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>
                                    Please Upload Balance Sheet: <span class="required">*</span>
                                </label>
                                {% if form.bal_sheet.errors %}
                                {{ form.bal_sheet.errors }}
                                {% else %}
                                {{ form.bal_sheet }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>
                                    Query Year: <span class="required">*</span>
                                </label>
                                {% if form.bal_sheet.errors %}
                                {{ form.bal_sheet.errors }}
                                {% else %}
                                {{ form.query_year }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>
                                    Query Variable: <span class="required">*</span>
                                </label>
                                {% if form.bal_sheet.errors %}
                                {{ form.bal_sheet.errors }}
                                {% else %}
                                {{ form.query_variable }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <button type="submit" name="action" class="btn btn-primary">
                                      Submit
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="uploaded_balsheet">
            <h2>Your Submitted Balance Sheet</h2>
            <table>
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Query Year</th>
                        <th>Query Varaible</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% if uploaded_balsheets %}
                    {% for balsheet in uploaded_balsheets %}
                    <tr>
                        <td>{{balsheet.input_file_name}}</td>
                        <td>{{balsheet.query_year}}</td>
                        <td>{{balsheet.query_variable}}</td>
                        <td><a href="/file/downloadcsv/{{balsheet.id}}"><button>Download CSV</button></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>  
            </table>
        </div>
    </div>
</div>
</body>
</html>